# Dependencies

node_modules
.pnp
.pnp.js
bun.lockb

# Testing

coverage
\*.log

# Development

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output

dist
build
.turbo
.cache

# IDE

.vscode
.idea
_.swp
_.swo
\*~

# OS

.DS_Store
Thumbs.db

# Git

.git
.gitignore
.gitattributes

# Docker

Dockerfile
docker-compose.yml
.dockerignore

# Documentation

README.md
docs
\*.md

# Misc

.editorconfig
.prettierrc
.eslintrc
biome.json
