# Dependencies
node_modules
.pnp
.pnp.js
bun.lockb

# React Native
.expo
.expo-shared
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Testing
coverage
*.log

# Development
.env
.env.local

# Build output
dist
build
.turbo
.cache
android/app/build
ios/Pods

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
docs
*.md

# Misc
.editorconfig
biome.json
